.find-section {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  color: #6c6c6c;
}

.find-section img {
  width: 40%;
  margin-bottom: 15px;
}

.find-section span {
  width: 63px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.05em solid black;
  animation: typing 6s steps(4), cursor 1s steps(1) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
