.search-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.search-input {
  padding: 10px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  max-width: 400px;
  border: none;
  border-radius: 5px;
  font-family: "NeoDunggeunmo Pro";
  font-size: 14px;
  transition: border-color 0.3s, box-shadow 0.3s;
  text-align: center;
}

.search-input:focus {
  border-color: #6ebbff;
  box-shadow: 0 0 5px #6ebbff;
  outline: none;
}

.search-input::placeholder {
  color: rgb(230, 230, 230);
}

.search-8bit {
  width: 100%;
  max-width: 400px;
  float: left;
  border-left: 5px solid #acacac;
  border-right: 5px solid #acacac;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.search-8bit .search-wrapper {
  display: block;
  outline: none;
  color: #ff6600;
  margin: -5px 0;
  border-top: 5px solid #acacac;
  border-bottom: 5px solid #acacac;
}
