.search-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.hidden-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.search-input {
  width: 100%;
  max-width: 400px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: "Ramche";
  font-size: 14px;
  color: #acacac;
  transition: border-color 0.3s, box-shadow 0.3s;
  text-align: center;
  background-color: white;
  cursor: text;
}

.search-input:focus-within {
  border-color: #6ebbff;
  box-shadow: 0 0 5px #6ebbff;
}

.search-input::placeholder {
  color: rgb(230, 230, 230);
}

.search-8bit {
  width: 100%;
  max-width: 400px;
  height: 40px;
  float: left;
  border-left: 5px solid #acacac;
  border-right: 5px solid #acacac;
  position: relative;
}

.search-8bit .search-wrapper {
  display: block;
  outline: none;
  color: #acacac;
  margin: -5px 0;
  border-top: 5px solid #acacac;
  border-bottom: 5px solid #acacac;
}
